body, h1, h2, p, ul, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
}

header {
    background-color: #eb0b0b;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #6c0808;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-top: 10px; 
    border-top: 2px solid#6c0808; 
    padding-top: 10px; 
}


main {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(234, 231, 231);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 20px;
}

.template {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.template a {
    color: white;
    font-weight: bold;
    border: 2px solid rgb(166, 92, 92);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: 150px;
    margin: 10px auto;
    background-color: rgb(213, 0, 0);
}

#resume-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    color: red;
    
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #722626;
}

#download-resume {
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#download-resume:hover {
    background-color: #722626;
}
#generated-resume {
    background-color: #f8f8f8;
    color: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px red;
    margin-top: 20px;
}

#preview-resume {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

#preview-resume h3 {
    font-size: 28px;
    color:red;
    margin-bottom: 10px;
}

#preview-resume p {
    margin-bottom: 15px;
}

#download-resume {
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#download-resume:hover {
    background-color: #722626;
}

